@media screen and (max-width: 640px) {
    body {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
    }
    
    header div.menu {
        display: flex;
        flex-direction: column;
        max-height: 100px;
        height: 100%;
    }
    
    .links-menu {
        margin-top: 16px;
    }

    .conteudo {
        display: block;
        margin: 0;
        height: 100%;
    }

    #produtos h2 {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        max-width: 90%;
    }

    #sobre .container {
        display: block;
        font-size: 1.2em;
    }

    #sobre img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        max-width: 640px;
        max-height: 640px;
    }

    #produtos img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    #produtos {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #produtos .produtos {
        display: block;
    }

    #produtos .container-flex {
        display: flex;
        flex-direction: column;
    }

    #produtos .container-flex li {
        max-width: 640px;
        align-items: center;
        background-color: #f3f0f09d;
        margin-bottom: 24px;
        margin-right: 0;
    }

    #produtos li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        max-width: 640px;
        width: 100%;
        height: 484px;
        margin-right: 15px;
        text-align: justify;
        overflow: hidden;
    }

    #produtos button {
        margin-top: 16px;
        border-radius: 5px;
        height: 38px;
    }

    .produtos .container-flex {
        margin-bottom: 32px;
    }

    footer {
        max-height: 100px;
        height: 100%;
        margin-top: auto;
        text-align: center;
    }
}


@media screen and (min-width: 641px) and (max-width: 1023px) {
    body {
        background-image: none;
    }

    .container, #produtos h2 {
        max-width: 95%;
        margin: 0 auto;
    }

    .container-flex {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 2%;
        row-gap: 3px;
        margin: 0;
        align-items: center;
    }

    #sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sobre .container {
        display: block;
        font-size: 1.2em;

    }

    #sobre img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        max-width: 1023px;
        max-height: 1023px;
    }

    #produtos img {
        width: 100%;
        height: auto; /* Mantém a proporção original */
        aspect-ratio: 1 / 1;
    }

    #produtos li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #ffffff;
        padding: 16px; 
        border-radius: 8px;
        max-width: 1023px;
        width: 100%;
        height: 100%;
    }

    #produtos button {
        margin-top: 16px;
        border-radius: 5px;
        height: 38px;
    }
}